
@font-face{
    font-family: "Obys Sans";
    src: url(./fonts/ObysSans4.ttf);
}



* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Obys Sans;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

body.loading {
    overflow: hidden;
}

#crsr {
    position: fixed;
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    border: 1.5px solid rgb(244, 241, 241);
    /* background-color: rgb(0, 0, 0); */
    z-index: 999;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #0b0b0b;
    z-index: 999;
    padding: 20vh 8vw;
}

.line {
    padding: 1vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2vw;
}

.line1-part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.8vw;
}

.line1-part1 h5,
.line1-part1 h6 {
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 150;
}

.line1-part1 h5 {
    width: 4.2vw;
    text-align: right;
}

.line h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.3vw;
}

.line h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5vw;
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes anime {
    0% {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: 300;
        opacity: 0;
        color: white;
    }
    30% {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: 300;
        opacity: 1;
        color: white;
    }
    60% {
        font-family: "Courier New", Courier, monospace;
        font-style: italic;
        opacity: 0;
        color: transparent;
    }
    100% {
        font-family: "Courier New", Courier, monospace;
        font-style: italic;
        opacity: 1;
        color: transparent;
    }
}

@keyframes anime {
    0% {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: 300;
        opacity: 0;
        color: white;
    }
    30% {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        font-weight: 300;
        opacity: 1;
        color: white;
    }
    60% {
        font-family: "Courier New", Courier, monospace;
        font-style: italic;
        opacity: 0;
        color: transparent;
    }
    100% {
        font-family: "Courier New", Courier, monospace;
        font-style: italic;
        opacity: 1;
        color: transparent;
    }
}


/* #main height width deaou jabe na karon locomotive use korbo */

#main {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    background-color: #171616;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #171616;
    margin-bottom: 0.5vw;
}

.navigation {
    height: 10%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw 4vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.navigation .nav-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2vw;
}

#page1 .hero {
    /* margin-top: 2vw; */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 75%;
    /* background-color: rgb(68, 44, 44); */
    margin-left: 25%;
    /* overflow: hidden; */
}

#page1 .hero::before {
    content: "01";
    font-style: italic;
    left: -12%;
    top: -180%;
    font-size: 2.4vw;
    font-weight: 100;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#page1 .hero:nth-child(2) {
    margin-top: 3vw;
}

#page1 .hero:nth-child(4):hover {
    -webkit-text-stroke: 2.5px #8f7f7f;
    font-style: italic;
    -webkit-transition: all ease 0.3;
    transition: all ease 0.3;
}

#page1 .hero:nth-child(4) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: .5vw;
    border-bottom: 0.5vw solid white;
}

#page1 .hero:nth-child(5) {
   
    padding-top: .9vw;
   
}

#page1 .hero h1 {
    text-transform: uppercase;
    font-size: 6.5vw;
    line-height: 6.5vw;
}

#flag {
    height: 15vw;
    width: 12vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#move {
   
    z-index: 999;
    position: relative;
}


/* #page2 */

#page2 {
    /* margin-top: 2vw; */
    margin-bottom: 12vw;
    height: 100vh;
    width: 100%;
    background-color: #171616;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
}

#page2 #video-container {
    height: 60%;
    width: 55%;
    /* background-color: blue; */
    position: relative;
}

#page2 #video-container .icon {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: #ffa63d;
    z-index: 999;
    position: absolute;
    top: -3vw;
    left: 80%;
    /* transform: translate(-900%,-310%); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#page2 #video-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
}

#page2 #video-container video {
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    /* opacity: 0; */
}


/* #page3 */

#page3 {
    height: 120vw;
    width: 100%;
    background-color: #171616;
    padding-top: 2vw;
  
}

#page3 h1 {
    font-size: 6vw;
    position: relative;
    margin-left: 30vw;
}

#page3 h1::before {
    content: "02";
    font-style: italic;
    left: -10%;
    top: 10%;
    font-size: 2.9vw;
    font-weight: 100;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#page3 .underline {
    margin-top: 2vh;
    margin-left: 30%;
    height: 0.3vh;
    width: 70%;
    background-color: aliceblue;
}

#img-div-container {
    height: 75vw;
    width: 100%;
    /* background-color: rgb(126, 51, 51); */
    padding: 2vw 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2vw;
}

#img-div-container .img-div {
    margin: 2vw;
    height: 40%;
    width: 24%;
    background-color: #ffa63d;
    position: relative;
}

#img-div-container .img-div:nth-child(1) {
    height: 40%;
}

#img-div-container .img-div:nth-child(2) {
    height: 60%;
    width: 24%;
}

#img-div-container .img-div img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    position: absolute;
}

#img-div-container .round {
    margin-top: 20vh;
    margin-right: 10vh;
    height: 20vw;
    width: 22vw;
    border-radius: 50%;
    border: 1.5px solid rgb(227, 212, 212);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

#img-div-container .round img {
    position: absolute;
    height: 40%;
    width: 40%;
}

.round .round-text {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    scale: 0;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

.round-text p {
    width: 90%;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    font-weight: 600;
    scale: 0;
}

.round:hover .round-text {
    scale: 1;
}

.round:hover p {
    scale: 1;
}

.round1 .round-text {
    height: 100%;
    /* weidth: 100%; */
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    scale: 0;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

.round-text p {
    width: 90%;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    font-weight: 600;
    scale: 0;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

.round1:hover .round-text {
    scale: 1;
}

.rounde1:hover p { 
    scale: 1;
}

#img-deiv-container .round1 { 
    margin-left: 6vw;
    /* margin-top:e 4.5vw; */
    height: 20vw;
    width: 22vw;
    border-radius: 50%;
    border: 1.5px solid rgb(236, 218, 218);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#img-div-container .round1 img {
    position: absolute;
    /* height: 40%e; */
    width: 40%;
    rotate: -88deg;
}


/* page4 */

#page4 {
    height: 76vw;
    width: 100%;
    background-color: #171616;
    margin-bottom: 5.8vw;
}

#page-container {
    position: relative;
    height: 72vw;
    width: 80%;
    margin-left: 20%;
    /* background-color: #7a6f61; */
}

#page-container h1 {
    font-size: 6vw;
    position: relative;
}

#page-container h1::before {
    content: "03";
    font-style: italic;
    left: -10%;
    top: 10%;
    font-size: 2.4vw;
    font-weight: 100;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#page-container .underline {
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 0.4vh;
    width: 100%;
    background-color: aliceblue;
}

#page-container h2 {
    font-size: 1.8vw;
    width: 42%;
    font-weight: 400;
}

#page-container .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
}

#page-container .flex img {
    padding: 1vw 1vh;
    height: 60vh;
    width: 26vw;
    position: relative;
}

#page-container .flex p {
    font-size: 1vw;
    padding: 1vw;
    width: 20%;
}

#page-container .blue-div {
    position: absolute;
    height: 60vh;
    width: 36vw;
    background-color: rgb(63, 63, 153);
    left: 24%;
    top: 60%;
    padding: 3vw;
}

#page-container .blue-div .one {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#page-container .blue-div .one-line {
    height: 0.2vh;
    width: 100%;
    background-color: white;
    /* position: absolute; */
}

#page-container .blue-div .two {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#page-container .blue-div .three {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#page-container .blue-div .four {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#page-container .blue-div .five {
    height: 20%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#page-container .blue-div h2 {
    font-size: 4vh;
    margin-left: 1.5vh;
}

#page-container .blue-div h4 {
    font-size: 2vh;
    margin-left: 7.5vh;
}

.outside-underline {
    -ms-grid-column-align: end;
        justify-self: end;
    height: 0.4vh;
    width: 75%;
    left: 40%;
    background-color: rgb(220, 219, 230);
}

/* page5 */
#page5 {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #171616;
    padding: 15vh 0vw;
}

#page5 .elem {
    white-space: nowrap;
    overflow-x: hidden;
}

#page5 .elem h1 {
    margin-right: 2vw;
    font-size: 5.9vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent;
    display: inline-block;
    -webkit-animation-name: textanime;
            animation-name: textanime;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

#page5 .elem span,
#page5 .elem1 span {
    font-style: italic;
    -webkit-text-stroke: 1px rgb(255, 254, 254);
    color: transparent;
}

#page5 .elem1 {
    white-space: nowrap;
    overflow-x: hidden;
}

#page5 .elem1 h1 {
    font-size: 5.9vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(255, 254, 254);
    color: transparent;
    display: inline-block;
    -webkit-animation-name: textanime;
            animation-name: textanime;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}

@-webkit-keyframes textanime {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes textanime {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

#fotter-div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #171616;
}

#footer {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 75%;
    margin: 0 25%;
    padding-left: 2vw;
}

#footer h1 {
    font-weight: 400;
    font-size: 5vw;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before {
    content: "04";
    font-style: italic;
    left: -10%;
    top: 10%;
    font-size: 2.4vw;
    font-weight: 100;
    position: fixed;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#footer .underline {
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 0.12vh;
    width: 100%;
    background-color: aliceblue;
}

#footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3vw;
}

#footer .flex .one h4 {
    font-size: 1.2vw;
    font-weight: 100;
    line-height: 1.3;
}

.one h4:nth-child(1) {
    margin-bottom: 1.5vh;
}

#footer h2 {
    margin-top: 2vw;
    font-size: 1.3vw;
    padding-bottom: 6vw;
    text-align: center;
}

@media (max-width: 600px) {

    #loader {
        position: fixed;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    #crsr{
        display: none;
    }
    
    #main{
        overflow-x: hidden;
    }

    .nav-mid {
        display: none;
    }
    .navigation {
      
        height: 10%;
        width: 100%;
        padding: 7vw 7vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .navigation h3 {
        font-size: 5.3vw;
    }
    .navigation .nav-end {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .nav-end h3 {
        font-size: 3.5vw;
        margin-left: 6vw;
    }
    #page1 {
        height: 50vh;
        width: 100%;
        background-color: #171616;
    }
    #page1 #first {
        margin-top: 10vw;
    }
    #page1 .hero {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 75%;
        margin-left: 25%;
    }
    #page1 .hero::before {
        content: "01";
        font-style: italic;
        left: -22%;
        top: -180%;
        font-size: 5.4vw;
        font-weight: 100;
        position: absolute;
        color: transparent;
        -webkit-text-stroke: 1px white;
    }
    #page1 .hero:nth-child(2) {
        margin-top: 3vw;
    }
    #page1 .hero:nth-child(4):hover {
        -webkit-text-stroke: 2.5px #8f7f7f;
        font-style: italic;
        -webkit-transition: all ease 0.3;
        transition: all ease 0.3;
    }
    #page1 .hero:nth-child(4) {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-bottom: 1vw;
        border-bottom: 0.5vw solid white;
    }
    #page1 .hero:nth-child(5) {
        margin-top: 1vw;
    }
    #page1 .hero h1 {
        text-transform: uppercase;
        font-size: 6.5vw;
        line-height: 7.5vw;
    }
    /* #page2 */
    #page2 {
        margin-bottom: 12vw;
        height: 50vh;
        width: 100%;
        background-color: #171616;
        display: block;
        padding-left: 5%;  
        position: relative;
    }
    #page2 #video-container {
        padding-top: 7vw;
        height: 50%;
        width: 95%;
        /* background-color: blue; */
        position: relative;
    }
    #page2 #video-container .icon {
   display: none;
    }

   
    #page2 #video-container video {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        background-image: url(    );
    
    }

    /* #page3 */

#page3 {
    height: 310vh;
    width: 100%;
    background-color: #171616;
    padding-top: 2vw;
    padding-bottom: 2vw;

}

#page3 h1 {
    font-size: 7vw;
    position: relative;
    margin-left: 30vw;
}

#page3 h1::before {
    content: "02";
    font-style: italic;
    left: -15%;
    top: 10%;
    font-size: 4.4vw;
    font-weight: 100;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#page3 .underline {
    margin-top: 2vh;
    margin-left: 30%;
    height: 0.3vh;
    width: 70%;
    background-color: aliceblue;
}

#img-div-container {
    height: 120vh;
    width: 100%;
       background-color: #171616;

    padding: 2vw 2vw;
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    /* flex-wrap: wrap; */
    /* gap: 2vw; */
}

#img-div-container .img-div {
    margin: 2vw;
    height: 20vh;
    width: 24%;
    background-color: #ffa63d;
    position: relative;
    /* background-image: url(https://www.red-dot.org/fileadmin/_processed_/2/d/csm_13-DP02820-2023BC.1002672_CO_69dfc80d84.jpg"); */
}

#img-div-container .img-div:nth-child(1) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
    height: 40%;
    width: 70%;
}


#img-div-container .img-div:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
    height: 40%;
    width: 70%;
}

#img-div-container .img-div:nth-child(5) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
    height: 40%;
    width: 70%;
}

#img-div-container .img-div:nth-child(6) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: end;
        justify-self: end;
    height: 40%;
    width: 70%;
}
#img-div-container .img-div:nth-child(7) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
    height: 40%;
    width: 70%;
}


#img-div-container .img-div img {
   
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    position: absolute;
}

#img-div-container .round {
    margin-top: 1vh;
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
   
    height: 50vw;
    width: 45vw;
    border-radius: 50%;
    border: 1.5px solid rgb(227, 212, 212);
    position: relative;
   
    -webkit-transition: all ease 0.1s;
   
    transition: all ease 0.1s;
}


#img-div-container .round img {
    position: absolute;
    height: 45%;
    width: 42%;
}

.round .round-text {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    scale: 0;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

.round-text p {
    padding: 0 3vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
    scale: 0;
}

.round:hover .round-text {
    scale: 1;
}

.round:hover p {
    scale: 1;
}

#img-div-container .round1 {
    margin-top: 1vh;
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 50vw;
    width: 45vw;
    border-radius: 50%;
    border: 1.5px solid rgb(227, 212, 212);
    position: relative;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

#img-div-container .round1 img {
    position: absolute;
   left: 30%;
    top: 28%;
    height: 45%;
    width: 42%;
}

.round1 .round-text {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    scale: 0;
    -webkit-transition: all ease 0.1s;
    transition: all ease 0.1s;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}


.round1 .round-text p {
    padding: 0 3vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    font-weight: 600;
    scale: 0;
}

.round1:hover .round1 .round1-text {
    scale: 1;
}

.round1:hover p {
    scale: 1;
}


/* page4 */

#page4 {
    padding-top: 3vh;
    height: 100vh;
    width: 100%;
    background-color: #171616;
    margin-bottom: 5.8vw;
}

#page-container {
    position: relative;
    height: 90%;
    width: 80%;
    margin-left: 15%;
 
}

#page-container h1 {
    font-size: 8vw;
    position: relative;
}

#page-container h1::before {
    content: "03";
    font-style: italic;
    left: -12%;
    top: -9%;
    font-size: 4.4vw;
    font-weight: 100;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#page-container .underline {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    height: 0.1vh;
    width: 106%;
    background-color: aliceblue;
}

#page-container h2 {
    padding-left: 1.8vh;
    padding-bottom: .9vh;
    font-size: 3.5vw;
    width: 65%;
    font-weight: 300;
}

#page-container .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    position: relative;
}

#page-container .flex img {
    padding: 1vw 1vh;
    height: 40vh;
    width: 50vw;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

#page-container .flex p {
    font-size: 2.8vw;
    padding: 1vw;
    width: 100%;
}

#page-container .blue-div {
    position: absolute;
    height: 58vh;
    width: 76vw;
    background-color: rgb(63, 63, 153);
    left: 8%;
    top: 90%;
    padding: 3vw;
}

#page-container .blue-div .one {
    height: 10%;
    width: 100%;
 
 
}

#page-container .blue-div .one-line {
    height: 0.1vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.754);
    /* position: absolute; */
}

#page-container .blue-div .two {
    height: 20%;
    width: 100%;
  
}

#page-container .blue-div .three {
    height: 20%;
    width: 100%;
    
}

#page-container .blue-div .four {
    height: 20%;
    width: 100%;
   
}

#page-container .blue-div .five {
    height: 20%;
    width: 100%;
   
    
}

#page-container .blue-div h2 {
    width: 90%;
    font-size: 2vh;
    margin-left: 0vh;
}


#page-container .blue-div h4 {
    width: 100%;
    font-size: 1.4vh;
    margin-left: 0vh;
    font-weight: 300;
   
}

.outside-underline {
    display: none;
}


/* page5 */
#page5 {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    background-color: #171616;
    padding: 8vh 0vw;
}

#page5 .elem {
    white-space: nowrap;
    overflow-x: hidden;
}

#page5 .elem h1 {
     line-height: 6.7vh;
     margin-right: 2vw;
     font-size: 9vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: transparent;
    display: inline-block;
    -webkit-animation-name: textanime;
            animation-name: textanime;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

#page5 .elem span,
#page5 .elem1 span {
    font-style: italic;
    -webkit-text-stroke: 1px rgb(255, 254, 254);
    color: transparent;
}

#page5 .elem1 {
    white-space: nowrap;
    overflow-x: hidden;
}

#page5 .elem1 h1 {
    font-size: 9vw;
    line-height: 6.7vh;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(255, 254, 254);
    color: transparent;
    display: inline-block;
    -webkit-animation-name: textanime;
            animation-name: textanime;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
}

@-webkit-keyframes textanime {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}

@keyframes textanime {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
}



#fotter-div {
    height: 30vh;
    width: 100%;
    background-color: #171616;
   
}

#footer {
    margin-left: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 83%;
    margin: 0 15%;
    padding-left: 2vw;
    
    
}

#footer h1 {
    padding-top: .2vh;
    font-weight: 400;
    font-size: 4.22vh;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before {
    content: "04";
    font-style: italic;
    left: -13%;
    top: -4%;
    font-size:5vw;
    font-weight: 100;
    position: fixed;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#footer .underline {
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 0.1vh;
    width: 100%;
    background-color: aliceblue;
}

#footer .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 3vw;
}
.flex #two{
    padding: 0 5vw;

}

.flex #three{
    padding: 0 5vw;

}

#footer .flex .one h4 {
    font-size: 3.5vw;
    font-weight: 100;
    line-height: 1.3;
}

.one h4:nth-child(1) {
    margin-bottom: 1.5vh;
}

#footer h2 {
    margin-top: 2vw;
    font-size: 3.3vw;
    padding-bottom: 6vw;
    text-align: center;
}

}